@charset "utf-8";
.background {
	margin-left: 0px;
	margin-right: 0px;
}

body h1 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-align: center;
}

body nav2 {
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    display: block;
}

body h2 {
    color: #FFFFFF;
    font-variant: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

body h3 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font-size: xx-large;
    color: #FFFFFF;
}

body h4 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
}

.NTX862 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: justify;
}

.USMC {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: center;
}

.USN {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: center;
}

.DD214 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: center;
}

.Auxiliary {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: center;
}

.Life {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: center;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
}

#page {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: xx-large;
}

#page1 {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: xx-large;
}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}

tbody tr td {
    color: #FFFFFF;
	text-align: center;

}

.container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: serif, sans-serif;
	font-size: 62.5%;
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar {
	width: 45rem;
	height: 52rem;
	background-color: #787878;
	box-shadow: 0 0.5rem 3rem rgba(0,0,0,.4);
}

.month {
	width: 100%;
	height: 12rem;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	text-align: center;
		text-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
}

.month i {
	font-size: 2.5rem;
	cursor: pointer;
}

.month h1{
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-bottom: 1rem;
}

.month p {
	font-size: 1.6rem;
}

.wewkdays {
	width: 100%;
	height: 5rem;
	padding: 0 0.4rem;
	display: flex;
	align-items: center;
	}

.weedkays div {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	width: calc(44.2rem / 7);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.5);
}

.days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem;
}

.days div {
	font-size: 1.4rem;
	margin: 0.3rem;
	width: calc(40.2rem / 7);
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,.5);
	transition: background-color 0.2s;
}

.days div:hover:not(.today){
	background-color: #787878;
	border: .2rem solid #000000;
	cursor: pointer;
}
.prev-date,
.next-date {
	opacity: .5;
}

.today {
	background-color: #2CE7F0;
}