@charset "utf-8";
.background {
	margin-left: 0px;
	margin-right: 0px;
}

body h1 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-align: center;
}

body nav2 {
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    display: block;
}

body h2 {
    color: #FFFFFF;
    font-variant: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

body h3 {
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font-size: xx-large;
    color: #FFFFFF;
}

body h4 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
}

.NTX862 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: justify;
}

iframe {
	align-content: center;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
}

#page {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: xx-large;
}

#page1 {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: xx-large;
}

tbody tr td {
    color: #FFFFFF;
	text-align: center;

}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}

.calendar {
    text-align: center;
}
