@charset "utf-8";

.General tr td a {
	text-align: center;
	font-size: xx-large;
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    background-color: #000000;
    border: thick ridge #FFFFFF;
    margin-left: 100px;
	margin-right: 0px;	
}

button {
    background: #000000;
    color: #ffffff;
    border: thick ridge #FFFFFF;
    font-variant: small-caps;
    font-size: x-large;
    font-weight: bold;
	align-content: center;
	text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

iframe {
	align-content: center;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: x-large;
}

tbody tr td {
    color: #FFFFFF;
	text-align: center;

}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}

.calendar {
    text-align: center;
}
