@charset "utf-8";
#container {
    height: 1000px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
}
#leftcolumn {
    height: 1000px;
    width: 525px;
    float: left;
    border-style: outset;
    border-color: #FFFFFF;
}
#rightcolumn {
    height: 1000px;
    width: 425px;
    float: right;
    border-style: outset;
    border-color: #FFFFFF;
}
#Page Bottom {
}
