@charset "utf-8";

p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#leftcolumn {
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    padding: 30px;
    right: -600px;
    float: left;
}

#Container #leftcolumn h2 {
    text-align: center;
}

#rightcolumn article h2 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#rightcolumn article map {
    text-align: center;
}

.map {
	float: right!important;
}

#rightcolumn {
    margin-left: 0px;
    float: right;
    padding-bottom: 0px;
}

#Container #leftcolumn #register {
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
}

body p {
    text-align: center;
    color: #FFFFFF;
}

