@charset "utf-8";

p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#leftcolumn {
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    padding: 30px;
    float: left;
}

#rightcolumn article h2 {
    text-align: center;
}

#rightcolumn article map {
    text-align: center;
}

#rightcolumn {
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    padding: 30px;
    float: right;
}

.map {
	float: right!important;
	align-content: center;
}


#Container #leftcolumn #register {
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
}

body p {
    text-align: center;
    color: #FFFFFF;
}

tr th h2 {
	font-size: xx-large;
    font-variant: small-caps;
    color: #FFFFFF;
}

td article h2 {
	font-size: 2rem;
    font-variant: small-caps;
    color: #FFFFFF;
}

tr th h2 {
	color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
	background: #000000;
}
