@charset "utf-8";

body {
    background-color: #000D6E;
}

body h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body h2 {
	color: #FFFFFF;
    font-weight: bold;
}

.NTX862 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}

body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#Page p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#help h2 {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

#help p {
    color: #FFFFFF;
    text-align: justify;
    font-size: x-large;
}
body p {
    text-align: center;
    color: #FFFFFF;
}

.container {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    maring-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.slider {
 	width: 300px;
	height: 300px;
	display: flex;
	overflow-x: auto;
	align-content: center;
}

.slide {
	width: 300px;
	flex-shrink: 0;
	height: 100%;
}

.image {
	height: 800px;
	width: 1200px;
	position: relative;
	float: left;
}

#Galleries img:hover {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 10px;
    z-index: 99;
}

