@charset "utf-8";

body {
    background-color: #000D6E;
}

body h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body h2 {
	color: #FFFFFF;
    font-weight: bold;
}

.NTX862 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
}

body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-align: center;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#Page p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#help h2 {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}

#help p {
    color: #FFFFFF;
    text-align: justify;
    font-size: x-large;
}
body p {
    text-align: center;
    color: #FFFFFF;
}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}

.container {
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: 360px;
    maring-top: 20px;
    text-align: center;
    color: #FFFFFF;
}

.slider {
 	width: 300px;
	height: 300px;
	display: flex;
	overflow-x: auto;
	align-content: center;
}

.slide {
	width: 300px;
	flex-shrink: 0;
	height: 100%;
}

@-webkit-keyframes slide_animation {
	0%{left:0px;}
	10%{left:0px;}
	20%{left:1200px;}
	30%{left:1200px;}
	40%{left:2400px;}
	50%{left:2400px;}
	60%{left:1200px;}
	70%{left:1200px;}
	80%{left:0px;}
	90%{left:0px;}
	100%{left:0px;}
}

.mclgallery {
    border-style: ridge;
    border-width: thick;
    background-color: #787878;
    border: thick ridge #FFFFFF;
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide-animation;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.toysgallery {
    border-style: ridge;
    border-width: thick;
    background-color: #787878;
    border: thick ridge #FFFFFF;
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide-animation;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.usmcgallery {
    border-style: ridge;
    border-width: thick;
    background-color: #787878;
    border: thick ridge #FFFFFF;
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide-animation;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.image {
	height: 800px;
	width: 1200px;
	position: relative;
	float: left;
}

#Galleries h3 a img:hover {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 10px;
    z-index: 99;
}

