@charset "utf-8";

body nav2 {
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    display: block;
}

body h3 {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: 2rem;
	text-decoration: underline;
}

.General tr td {
	text-align: center;
	font-size: xx-large;
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    background-color: #000000;
    border: thick ridge #FFFFFF;
}

.Members tr td {
	text-align: center;
	font-size: xx-large;
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    background-color: #000000;
    border: thick ridge #FFFFFF;
}

body p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}
