@charset "utf-8";

body h1 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

body nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    text-align: center;
}

.Members tr td {
	text-align: center;
	font-size: xx-large;
    color: #FFFFFF;
    border-style: ridge;
    border-width: thick;
    background-color: #000000;
    border: thick ridge #FFFFFF;
}

body h2 {
    color: #FFFFFF;
    font-variant: normal;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

body h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: xx-large;
    color: #FFFFFF;
}

body h4 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
    color: #FFFFFF;
}

.NTX862 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: left;
	align-content: justify;
}

button {
    background: #787878;
    color: #ffffff;
    border: thick ridge #FFFFFF;
    font-variant: small-caps;
    font-size: x-large;
    font-weight: bold;
	align-content: center;
	text-align: center;
}

#page {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

#page1 {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-variant: small-caps;
	font-weight: bold;
    font-size: x-large;
}

body footer {
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2rem;
	text-align: center;
}

#accordion1 .card {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    background-image: -webkit-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    border: thick ridge #FFFFFF;
}

#accordion2 .card {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
    background-image: -webkit-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(120,120,120,1.00) 0%,rgba(120,120,120,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-color: #FFFFFF;
    border: thick ridge #FFFFFF;
}
