@charset "utf-8";

.img {
    align-content: flex-start;
    display: block;
    text-align: center;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-variant: small-caps;
    font-weight: bold;
	font-size: x-large;
}

body p {
    text-align: center;
    color: #FFFFFF;
}

body h3 {
	display: block;
	text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: #FFFFFF;
}

Website{
    font-variant: small-caps;
    font-weight: bold;
    font-size: xx-large;
	color: #ffffff;
	text-align: center;
}

button {
    background: #000000;
    color: #ffffff;
    border: thick ridge #FFFFFF;
    text-align: center;
}

table tbody th {
    color: #FFFFFF;
    font-size: large;
    border: thick ridge #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
}

tbody th h2 {
    color: #FFFFFF;
    font-size: xx-large;
	background-color: #787878;
}

tbody th h3 {
    color: #FFFFFF;
    font-size: x-large;
}

